[build]
  command = "npm test && npm run build"
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/privacy"
  to = "/privacy.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
